<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock title %}</title>
{% block head_css %}{% endblock head_css %}
{% block head_js %}{% endblock head_js %}
</head>
{% endblock head %}
{% block body %}{% endblock body %}
{% block body_end_js %}{% endblock body_end_js %}
</html>