{% extends "test/base.html" %}

{% block title %}
pydantic验证表单测试
{% endblock %}

{% block body %}
<h3>pydantic验证表单测试</h3>
<h4>{{ test_field }}</h4>
<img src="{{ request.app.url_for('static', filename='image/aaa.jpg') }}" alt="测试" height="50px">
<form action="{{ request.app.url_for('ft.form_test', test_field=test_field) }}" method="post">
    <p>用户名：<input type="text" name="username" autofocus required></p>
    <p>登录密码：<input type="password" name="password" required></p>
    <p>邮箱: <input type="email" name="email"></p>
    <p>{% if errors %}{{ errors["email"] }}{% endif %}</p>
    <p>请选择您喜欢的书籍类型：
        {% for mul_check in ["古代言情", "现代言情", "权谋", "重生", "穿越"] %}
            <input type="checkbox" value="{{ mul_check }}" name="tests">{{ mul_check }}
        {% endfor %}
    </p>
    <input type="datetime-local" name="date">时间
    <p><input type="hidden" name="csrf_token" value="{{ csrf }}"></p>
    <input type="reset" value="重置">
    <input type="submit" value="提交">
</form>
{% endblock %}
